<div class="container col-6">
  <form action="/filter">
    <div class="form-group">
      <select class="form-control form-control-lg" id="filter" name="filter" onchange="submit()" selected="{{filter}}">
        <option value="ALL" {{#ifEquals filter "家居物業"}} selected {{/ifEquals}}>ALL</option>
        <option value="家居物業" {{#ifEquals filter "家居物業"}} selected {{/ifEquals}}>家居物業</option>
        <option value="交通出行" {{#ifEquals filter "交通出行"}} selected {{/ifEquals}}>交通出行</option>
        <option value="休閒娛樂" {{#ifEquals filter "休閒娛樂"}} selected {{/ifEquals}}>休閒娛樂</option>
        <option value="餐飲食品" {{#ifEquals filter "餐飲食品"}} selected {{/ifEquals}}>餐飲食品</option>
        <option value="其他" {{#ifEquals filter "其他"}} selected {{/ifEquals}}>其他</option>
      </select>
    </div>
  </form>
  <div class="row my-3">
    <h5 class="col-auto mr-auto" style="color: #519D9E; font-weight: bold;">Total</h5>
    <h1 class="col-auto totalAmount" style="color: #519D9E; font-weight: bold;">{{{totalAmount}}}</h1>
  </div>
  <div class="content mb-3">
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-1 mr-1"><i class='{{ this.categoryIcon }} fa-2x' style="color: #9055A2;"></i>
          </div>
          <div class="col-auto">
            <h3 class="mr-1" style="display: inline; vertical-align: middle; color: #566270;">{{ this.name }}</h4>
              <small style="display: inline; vertical-align: -0.5em; color: #e0e0eb;">{{ this.date }}</small>
          </div>
          <div class="col-auto ml-auto row">
            <h4 class="col-auto" style="display: inline; vertical-align: middle; color: #566270;">
              {{ this.amount }}</h3>
              <a class=" btn btn-outline-success mr-1" href="./expenses/{{ this._id }}/edit">edit</a>
              <form action="./expenses/{{ this._id }}?_method=DELETE" method="POST">
                <button class=" btn btn-outline-danger" type="submit">delete</button>
              </form>
          </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>